<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>profile</title>
</head>
<body>
    <h1>User Profile</h1>
    <p>User Name: <%= user.name %></p>
    <p>User ID: <%= user.userid %></p>
    <p>User Pos: <%= user.position %></p>
    <p>User Skills</p>
    <ul>
        <% user.skills.forEach((item)=>{ %>
            <li><%= item %></li>
        <% }) %>
    </ul>
</body>
</html>